<div class="center jumbotron">
  <h1>Base App</h1>
  <h2>Create anything from this simple base app. 
    <a href="www.zombo.com">The infinite is possible</a>.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

