<% provide(:title, @coop.name) %>
<div class="row">                                                               
  <aside class="col-md-4"> 
    <p id="notice"><%= notice %></p>
    <section class="coop_info">
      <h1><%= @coop.name %></h1>
      <p><%= @coop.description %></p>
    </section>
    <section>
      <%= link_to 'Back', coops_path %>
    </section>
  </aside>
</div>
